/* RESIZING NAVBAR LOGO */
.navbar_logo {
    height: 50px;
    padding-bottom: 3px;
}


/* CHANGING NAVBAR COLORS */
.navbar_color {
    background-color: var(--linen);
    /* background-color: #3fc8b4; */
    color: var(--dimgray);
    box-shadow: none;
}